
body{
    padding: 0;
    margin: 0;
    color: #fff;
    background-color: #15202B;
    overflow-y: scroll;
}

.container {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: visible;

}

h1{
    text-align: center;
}

.content-container, .navbar-container, .right-container {
    box-sizing: border-box;


}

.content-container{
    width: 598px;
    border: 1px solid rgb(63, 72, 78);
}

.navbar-container{
    flex-grow: 2;
}

.right-container {
    flex-grow: 2;

}

@media screen and (max-width: 1030px){
    .right-container > div{
        display: none;
    }
    .navbar-container{
        min-width: 60px;

    }


}
@media screen and (max-width: 500px){
    .main-container {
        flex-direction: column;
    }

    .main-container > div{
        width: 100%;
    }
    .navbar-container{
        position: absolute;
        bottom: 0;
        width: 100%;

    }

    .right-container{
        display: none;
    }


}
